<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Head", false)
    <style>
        .loader {
            border: 16px solid #ADFF2F;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            background: #ADFF2F;
            position: fixed; /*it can be fixed too*/
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            /*this to solve "the content will not be cut when the window is smaller than the content": */
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
        /* Safari */
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MedicineTrackingSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content" style="height:100%; width:100%">
        @RenderBody()
        <footer>
        </footer>
    </div>
    <div class="container">
        <div class="row">
            <div class="modal" id="errorModal" tabindex="-1">
                <div class="modal-dialog" style="width:300px;margin-top:10%;">
                    <div class="modal-content">
                        <div class="modal-header">MESSAGE</div>
                        <div class="modal-body" id="errorModalbody">

                        </div>
                        <div class="modal-footer" style="height:50px;padding-top:8px;"><button type="button" class="btn btn-primary" id="closeErrorMessage" style="background-color:#86BC25;" onclick="CloseModal()">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="modal" id="confirmModal" tabindex="-1">
                <div class="modal-dialog" style="width:300px;margin-top:10%;">
                    <div class="modal-content">
                        <div class="modal-header">Confirmation</div>
                        <div class="modal-body" id="confirmModalbody">

                        </div>
                        <div class="modal-footer" style="height:50px;padding-top:8px;">
                            <button type="button" class="btn btn-primary" style="background-color:#86BC25;" id="confirmNoBtn">Close</button>
                            <button type="button" class="btn btn-primary" style="background-color:#86BC25;" id="confirmYesBtn">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" style="display:none">
        <div class="loader"></div>
    </div>
    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ajaxStart(function () {
            // show loader on start
            $("#loading").css("display", "block");
        }).ajaxSuccess(function () {
            // hide loader on success
            $("#loading").css("display", "none");
        });

        function CloseModal() {
            $('#errorModal').hide();
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
